<div>
	<br>
	<mat-card>
		<button mat-raised-button colour="primary" routerLink="/create">Create New Issue</button>
	</mat-card>
	<br><br>
	<mat-divider></mat-divider>
	<br>
	<table>
	  <thead>
	    <tr>
	      <td>Title</td>
	      <td>Responsible</td>
	      <td>Description</td>
	      <td>Status</td>
	      <td>Severity</td>
	      <td>Actions</td>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let issue of issues">
	      <td> {{issue.title}} </td>
	      <td> {{issue.responsible}} </td>
	      <td> {{issue.description}} </td>
	      <td> {{issue.status}} </td>
	      <td> {{issue.severity}} </td>
	      <td>
	      	<button mat-raised-button color="primary" (click)="editIssue(issue._id)">Edit</button>
	      	<button mat-raised-button color="warn" (click)="deleteIssue(issue._id)">Delete</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>
